@import url("https://fonts.googleapis.com/css?family=Poppins:400,600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,600,400i&subset=cyrillic,600&subset=cyrillic");
* {
  margin: 0;
  padding: 0; }

input:focus, button:focus {
  outline: none; }

a {
  text-decoration: none; }

.logError {
  margin: 20px 0 0 0;
  color: #333;
  background-color: #FFBABA;
  padding: 10px 15px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600; }

.error, .success {
  z-index: 9999;
  min-width: 300px;
  padding: 10px 10px;
  margin-top: 10px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }

.success {
  background: linear-gradient(0deg, #1c7e28, #31d644); }

.error {
  background: linear-gradient(0deg, #981212, #ee4141); }

.messageDiv {
  z-index: 9998;
  position: fixed;
  bottom: 5%;
  right: 3%;
  background-color: transparent;
  min-width: 300px; }

body {
  color: #333;
  background: url(/style/img/backgr.png) center bottom no-repeat fixed #48B484;
  display: flex;
  justify-content: center; }
  body .main {
    min-width: 900px;
    flex-basis: 70%;
    background-color: #FAF8F2;
    border-radius: 0 0 5px 5px;
    margin-bottom: 10px; }
    body .main .header {
      height: 60px;
      margin-bottom: 5px;
      background: #2e2e2e;
      border-radius: 0 0 5px 5px;
      color: #fff;
      display: flex;
      justify-content: space-between; }
      body .main .header .logo {
        padding: 5px 15px;
        font-family: 'Poppins', sans-serif;
        font-size: 30px; }
      body .main .header .links {
        padding: 20px 15px 0px 15px; }
        body .main .header .links ul li {
          text-transform: uppercase;
          display: inline;
          margin-left: 10px;
          font-family: 'Montserrat', sans-serif; }
          body .main .header .links ul li a {
            padding: 10px 0;
            color: #fff; }
            body .main .header .links ul li a:hover {
              color: #48B484; }
    body .main .content {
      color: #555;
      padding: 5px 10px;
      font-family: 'Roboto', sans-serif;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      body .main .content h1 {
        text-align: center; }
      body .main .content .loginborder {
        align-self: center;
        width: 500px;
        background-color: #fff;
        margin: 30px 0;
        padding: 30px 0;
        box-shadow: 0px 0px 10px #ddd;
        border-radius: 3px; }
        body .main .content .loginborder h1 {
          font-weight: 600;
          color: #333;
          font-size: 30px; }
        body .main .content .loginborder form#login, body .main .content .loginborder form#registration {
          color: #333;
          margin: 30px 15px;
          text-align: center; }
          body .main .content .loginborder form#login input.formlogtext, body .main .content .loginborder form#registration input.formlogtext {
            color: #555;
            font-size: 20px;
            margin: 5px 0;
            width: 230px;
            border: 1px solid #e7e7e7;
            padding: 5px 10px; }
          body .main .content .loginborder form#login input#formlogsub, body .main .content .loginborder form#registration input#formlogsub {
            padding: 10px 35px;
            background-color: #48B484;
            border: none;
            color: #fff;
            cursor: pointer; }
        body .main .content .loginborder p {
          text-align: center; }
          body .main .content .loginborder p a {
            color: #e36209;
            opacity: 0.8;
            transition: 0.3s; }
            body .main .content .loginborder p a:hover {
              opacity: 1.0; }
      body .main .content .registerborder {
        padding: 30px 0 10px 0;
        flex-basis: 50%; }
      body .main .content .addWordsBorder {
        display: flex;
        flex-direction: column;
        width: 500px;
        align-self: center; }
        body .main .content .addWordsBorder form#addwordsform {
          width: 100%;
          align-self: center;
          display: flex;
          flex-direction: column; }
          body .main .content .addWordsBorder form#addwordsform .newword {
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between; }
            body .main .content .addWordsBorder form#addwordsform .newword input {
              width: 45%;
              padding: 5px 10px;
              border: 1px solid #999;
              border-radius: 5px; }
        body .main .content .addWordsBorder .addWordsButtons {
          margin-top: 10px;
          margin-bottom: 20px;
          display: flex;
          justify-content: space-between; }
          body .main .content .addWordsBorder .addWordsButtons button {
            cursor: pointer;
            padding: 5px 10px;
            border: 1px solid transparent;
            border-radius: 5px;
            color: #fff;
            background-color: #48B484; }
        body .main .content .addWordsBorder table {
          align-self: center;
          min-width: 500px;
          border-collapse: collapse;
          border: 1px solid #999; }
          body .main .content .addWordsBorder table caption {
            font-size: 30px;
            margin: 10px 0; }
          body .main .content .addWordsBorder table td, body .main .content .addWordsBorder table th {
            padding: 10px 5px;
            text-align: center; }
        body .main .content .addWordsBorder button#loadMoreWords {
          margin: 20px 0;
          cursor: pointer;
          padding: 5px 10px;
          border: 1px solid transparent;
          border-radius: 5px;
          color: #fff;
          background-color: #48B484; }

/*# sourceMappingURL=style.css.map */
