@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,400i&subset=cyrillic,600&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

html, body {
	//height: 100%;
}

input:focus, button:focus {
	outline: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid transparent;
	border-radius: 5px;
	color: #fff;
	background-color: #48B484;
	transition: 0.2s;
	&:hover {
	box-shadow: 0 0 3px #ccc;
	}
	&:active {
		color: #ffc91a;
		box-shadow: 0 0 3px #ccc;
	}
}

.logError {
	margin: 20px 0 0 0;
	color: #333;
	background-color: #FFBABA;
	padding: 10px 15px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.error, .success {
	z-index:9999;
	min-width: 300px;
	padding: 10px 10px;
	margin-top: 10px;
	color: #fff;
	border-radius: 10px;
	text-align: center;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
.success {
	background: linear-gradient(0deg, #1c7e28, #31d644);
}
.error {
	background: linear-gradient(0deg, #981212, #ee4141);
}
.messageDiv {
	z-index:9998;
	position: fixed;
	bottom: 5%;
	right: 3%;
	background-color: transparent;
	min-width: 300px;

}

body {
	color: #333;
	background: url(/style/img/backgr.png) center bottom no-repeat fixed #48B484;
	display: flex;
	justify-content: center;
	.main {
		min-width: 900px;
		flex-basis: 70%;
		background-color: #FAF8F2;
		border-radius: 0 0 5px 5px;
		margin-bottom: 10px;
		.header {
			height: 60px;
			margin-bottom: 5px;
			background: #2e2e2e;
			border-radius: 0 0 5px 5px;
			color: #fff;
			display: flex;
			justify-content: space-between;
			.logo {
				padding: 5px 15px;
				font-family: 'Poppins', sans-serif;
				font-size: 30px;
			}
			.links {
				padding: 20px 15px 0px 15px;
				ul li {
					text-transform: uppercase;
					display: inline;
					margin-left: 10px;
					font-family: 'Montserrat', sans-serif;
					a {
						padding: 10px 0;
						color: #fff;
						transition: 0.2s;
						&:hover {
							color: #48B484;
						}
					}
				}
			}
		}
		.content {
			color: #555;
			padding: 5px 10px;
			font-family: 'Roboto', sans-serif;
			display: flex;
			justify-content: center;
			flex-direction: column;
			h1 {
				text-align: center;
			}
			.loginborder {
				align-self: center;
				width: 500px;
				background-color: #fff;
				margin: 30px 0;
				padding: 30px 0;
				box-shadow: 0px 0px 10px #ddd;
				border-radius: 3px;
				h1 {
					font-weight: 600;
					color: #333;
					font-size: 30px;
				}
				form#login, form#registration {
					color: #333;
					margin: 30px 15px;
					text-align: center;
					input.formlogtext {
						color: #555;
						font-size: 20px;
						margin: 5px 0;
						width: 230px;
						border: 1px solid #e7e7e7;
						padding: 5px 10px;
					}
					input#formlogsub {
						padding: 10px 35px;
						background-color: #48B484;
						border: none;
						color: #fff;
						cursor: pointer;
					}
				}
				p {
					text-align: center;
					a {
						color: #e36209;
						opacity: 0.8;
						transition: 0.3s;
						&:hover {
							opacity: 1.0;
						}
					}
				}
			}
			.registerborder {
				padding: 30px 0 10px 0;
				flex-basis: 50%;
			}
			.addWordsBorder {
				display: flex;
				flex-direction: column;
				width: 500px;
				align-self: center;
				form#addwordsform {
					width: 100%;
					align-self: center;
					display: flex;
					flex-direction: column;
					.newword {
						margin-top: 5px;
						display: flex;
						justify-content: space-between;
						input {
							width: 45%;
							padding: 5px 10px;
							border: 1px solid #999;
							border-radius: 5px;
						}
					}
					p {
						margin: 2px 0;
						font-size: 12px;
						span {
							text-decoration: underline;
							cursor: pointer;
							padding: 3px 0;
						}
					}
				}
				.preWordPlace {
					margin: 0 0 15px 0;
					display: flex;
					justify-content: space-between;
					a {
						font-family: 'Poppins', sans-serif;
						color: #333;
						font-size: 13px;
						opacity: 0.7;
						transition: 0.2s;
						&:hover {
							opacity: 1;
						}
						&:active {
							color: #333;
						}
					}
				}
				button#sendWords {
					margin: 15px auto;
					width: 200px;
				}
				table {
					align-self: center;
					min-width: 500px;
					border-collapse: collapse;
					border: 1px solid #999;
					margin-bottom: 30px;
					caption {
						font-size: 30px;
						margin: 10px 0;
					}
					tr {
					}
					td,th {
						padding: 10px 5px;
						text-align: center;
					}
				}
			}
			.testContent {
				display: flex;
				flex-direction: column;
				h1 {
					margin-bottom: 20px;
					color: #555;
				}
				.showRow {
					display: flex;
					justify-content: center;
					p#engWord, p#rusWord {
						font-size: 25px;
						align-self: center;
						text-align: center;
						padding: 5px 25px;
						margin: 20px 15px;
						border-radius: 3px;
						background-color: #eaeaea;
						color: #555;
					}
					p#rusWord {
						cursor: pointer;
					}
				}
				.answer {
					input {
						padding: 10px;
					}
				}
				button#nextTestWord {
					font-size: 18px;
					align-self: center;
					margin: 20px 0;
					width: 100px;
					cursor: pointer;
					padding: 5px 10px;
					border: 1px solid transparent;
					border-radius: 5px;
					color: #fff;
					background-color: #48B484;
					transition: 0.2s;
					&:hover {
						box-shadow: 0 0 3px #ccc;
					}
					&:active {
						color: #ffc91a;
						box-shadow: 0 0 3px #ccc;
					}
				}
				p#emptyDict {
					text-align: center;
					margin: 30px 0;
				}
			}
		}
	}
}